{% extends 'main.html' %}
{% block content %}

<p>
  <h2>Data schemas</h2>
  <a href="{% url 'new schema' %}" class="btn btn-success">New schema</a>
</p>

<table>
<tr>
  <th>#</th>
  <th>Title</th>
  <th>Modified</th>
  <th>Actions</th>
</tr>
{% for schema,i in schemas %}
<tr>
  <th> {{ i }}</th>
  <th> <a href="{% url 'show schema' schema.id %}"> {{schema.title}} </a></th>
  <th> {{ schema.date_modified }}</th>
  <th>
      <p>
        <a href="{% url 'edit schema' schema.id %}">Edit scheme</a>
      </p>
    <p>
      <a href="{% url 'delete schema' schema.id %}">Delete</a>
    </p>
  </th>
</tr>
{% endfor %}
</table>

{% endblock %}