{% extends 'main.html' %}
{% block content %}

<div class="row justify-content-center">

    <div class="card  justify-content-center align-items-center "
         style="width: 650px; height: 445px; position: absolute; font-family: 'Helvetica Neue';">

        <h2>Login</h2>

        <div>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <div class="d-flex flex-row bd-highlight mb-3 justify-content-end">
                    <input class="btn btn-primary " type="submit" value="Login"/></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}