{% extends 'main.html' %}
{% block content %}


<div class="row">
    <div class="col-3">
        <h2>Sample schema</h2>
    </div>
    <div class="col-3">
        <a href="{% url 'edit schema' schema.id %}" class="text-decoration-none">Edit scheme</a>
    </div>
</div>

<table class="table table-bordered" style="width: 980px;">
<tr style="width: 980px; height: 50px;">
  <th scope="col-3" style="width: 115.81px;">#</th>
  <th scope="col-3">Column name</th>
  <th scope="col-3">Column type</th>
</tr>
{% for column,i in columns %}
<tr style="width: 980px; height: 50px;">
  <th scope="row" style="width: 115.81px;"> {{ i }}</th>
  <th> {{column.name}} </a></th>
  <th> {{column.get_type_display}}</th>
</tr>
{% endfor %}
</table>


<div class="row">
    <div class="col">
        <h2>Data sets</h2>
    </div>
    <div class="col">
        <form method="POST" class="rowForm">
            {% csrf_token %}
            {{form}}
            <input class="btn btn-success" name="generate_data" type="submit" value="Generate data"/>
        </form>
    </div>
</div>

{% if data_sets %}

<table class="table table-bordered" style="width: 980px;">
<tr style="width: 980px; height: 50px;">
  <th scope="col-3" style="width: 115.81px;">#</th>
  <th scope="col-3">Created</th>
  <th scope="col-3">Status</th>
  <th scope="col-3">Actions</th>
</tr>
{% for dataset,i in data_sets %}
<tr style="width: 980px; height: 50px;">
  <th scope="row" style="width: 115.81px;"> {{ i }}</th>
  <th> {{dataset.created}} </th>
  <th> <p class="btn btn-success d-flex justify-content-center align-items-center"
          style="width: 49px; height: 22px; font-size: 12px;">{{dataset.get_status_display}}</p></th>
  <th>
      {% if dataset.status == 'ready' %}
      <a href="{{dataset.csv_file.url}}" download class="text-decoration-none"> Download</a>
      {% endif %}
  </th>
</tr>
{% endfor %}
</table>

{% else %}
<p>You do not have data sets yet.</p>
{% endif %}

{% endblock %}